@charset "UTF-8";

@media screen and (max-width: 667px) {
    body {
        background-color: rgb(255, 255, 255);
    }

    input {
        display: none;
    }

    img#logo {
        width: 100px;
        margin-right: 80%;
    }

    .txt_nav {
            position: absolute;
            top: 40px;
            left: 25vw;
            display: inline-block;
        }


    div.canaisP {
        max-width: 450px;
    }

    p#copy {
        font-size: 8px;
        margin-left: 0px;
    }

    section#sec_main_canaisP {
        max-width: 500px;
    }

}