@charset "UTF-8";

@media screen and (max-width: 667px){
   
    input {
        display: none;
    }

    body {
        background-color: white;
    }

    img#logo {
        width: 100px;
        margin-right: 80%;
    }

    .txt_nav {
        position: absolute;
        top: 40px;
        left: 25vw;
        display: inline-block;
    }


    section#main_receitas {
        width: 700px;
    }
    

    footer {
        margin-top: 0px;
    }

    div#linha2 {
        position: relative;
        margin-left: 50%;
        transform: translate(-50%) translate(-100px);
        min-width: 460px;
    }

    div.div_leitura {
        width: 500px;
    }
     
    p#copy {
        font-size: 8px;
        margin-left: 0px;
    }

    #footer {
        margin-top: 100px;
    }
}


